{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block head %}{% trans "Login" %}{% endblock %}
{% block content %}
	{% if form.has_errors %}
		<p>{% trans "User name and password do not match. Please try again." %}
	{% endif %}
	<form method="post" action=".">
	{% csrf_token %}
		<p><label for="id_username">{% trans "User :" %}</label>{{ form.username }}</p>
		<p><label for="id_password">{% trans "Password :" %}</label>{{ form.password }}</p>
		<input type="hidden" name="next" value="/" />
		<input type="submit" value="{% trans "Login" %}" />
	</form>
{% endblock %}