{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags %}

{% block title %}{{ title }} | {% trans 'Weekly Report' %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }
 
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{{ block.super }}
	{% if user.is_active and user.is_staff %}
		{% if not is_popup %}
			{% admin_tools_render_menu_css %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Weekly Report' %}</h1>
{% endblock %}

{% block nav-global %}
	{% if user.is_active and user.is_staff %}
		{% if not is_popup %}
			{% admin_tools_render_menu %}
		{% endif %}
	{% endif %}
{% endblock %}
