<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
        <title>장고 북마크 | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
        <script type="text/javascript" src="/site_media/jquery.js"></script>
        <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
        {% block external %}{% endblock %}
</head>
<body>
    <div id="nav">
   	     <a href="/">home</a> |
        {% if user.is_authenticated %}
			<a href="/save/">북마크 추가</a> |
			<a href="/search/">검색</a> |    	
            {{ user.username }}님, 안녕하세요. 
            (<a href="/logout">로그아웃</a>)
        {% else %}
            <a href="/login/">로그인</a>
            <a href="/register/">가입</a>
        {% endif %}
    </div>
    <h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html> 