<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html>
<head>
        <title>{% trans "Django bookmark | " %}{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
        <script type="text/javascript" src="/site_media/jquery.js"></script>
        <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
        {% block external %}{% endblock %}
</head>
<body>
    <div id="nav">
   	     <a href="/">home</a> |
        {% if user.is_authenticated %}
			<a href="/save/">{% trans "Add bookmark" %}</a> |
			<a href="/search/">{% trans "Search" %}</a> |    	
            {{ user.username }} {% trans ", Welcome!" %}
            (<a href="/logout">{% trans "Logout" %}</a>)
        {% else %}
            <a href="/login/">{% trans "Login" %}</a>
            <a href="/register/">{% trans "Register" %}</a>
        {% endif %}
    </div>
    <h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <div id="footer">
    	Django Bookmarks <br />
    	Languages:
    	<a href="/i18n/setlang/?language=en">en</a>
    	<a href="/i18n/setlang/?language=ko">ko</a>
    	<a href="/i18n/setlang/?language=de">de</a>    	
    </div>
</body>
</html> 