{% extends "base.html" %}
{% load comments i18n %}
   
{% block title %}{% trans "Bookmark:" %}
	{{ shared_bookmark.bookmark.title|escape }}
{% endblock %}
{% block head %}
	<a href="/vote/?id={{ shared_bookmark.id }}" class="vote">[+]</a>
	<a href="{{ shared_bookmark.bookmark.link.url }}" class="title">
		{{ shared_bookmark.bookmark.title|escape }}</a>
{% endblock %}
{% block content %}
	{% trans "Added user:" %}
	<a href="/user/{{ shared_bookmark.bookmark.user.username }}/" class="username">
		{{ shared_bookmark.bookmark.user.username }}</a> |
	<span class="vote-count">{% trans "Vote: " %} {{ shared_bookmark.votes }}</span>
	<h2>Comments</h2>
	{% get_comment_count for bookmarks.sharedbookmark shared_bookmark.id as comment_count %}
	{% get_comment_list for bookmarks.sharedbookmark shared_bookmark.id as comment_list %}
	{% for comment in comment_list %}
		<div class="comment">
			<p><b>{{ comment.user_name }}</b>'s comments:</p>
				{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
		</div>
	{% endfor %}
	<p>Comment's count: {{ comment_count }}</p>
	{% render_comment_form for bookmarks.sharedbookmark shared_bookmark.id %}
{% endblock %}