<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <title>DataTables live example</title>
    <style type="text/css">
      @import "/site_media/datatables/css/demo_page.css";
      @import "/site_media/datatables/css/demo_table.css";
    </style>
    <script type="text/javascript" language="javascript" src="/site_media/jquery.js"></script>
    <script class="jsbin" src="/site_media/datatables/js/jquery.dataTables.js"></script>
  </head>
  <body id="dt_example">
  	<script type="text/javascript" src="/site_media/datatables_test.js">
  	</script>
    <div id="container">
      <h1>Live example</h1>
     
      <form id="datatable" method="post" action="/save/">
			{% csrf_token %}
			{{ form.as_p }}
	  </form>
      
      <p><a href="javascript:void(0);" onclick="fnClickAddRow();">Click to add a new row</a></p>
            
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
        </thead>
        <tbody>
          <tr class="gradeA">
            <td>Presto</td>
            <td>Nokia N800</td>
            <td>N800</td>
            <td class="center">-</td>
            <td class="center">A</td>
          </tr>
          <tr class="gradeA">
            <td>한글처리</td>
            <td>Nokia N800</td>
            <td>N800</td>
            <td class="center">-</td>
            <td class="center">A</td>
          </tr>
          <tr class="gradeC">
            <td>Misc</td>
            <td>IE Mobile</td>
            <td>Windows Mobile 6</td>
            <td class="center">-</td>
            <td class="center">C</td>
          </tr>
          <tr class="gradeC">
            <td>Misc</td>
            <td>PSP browser</td>
            <td>PSP</td>
            <td class="center">-</td>
            <td class="center">C</td>
          </tr>
          <tr class="gradeU">
            <td>Other browsers</td>
            <td>All others</td>
            <td>-</td>
            <td class="center">-</td>
            <td class="center">U</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
        </tfoot>
      </table>

    </div>
  </body>
</html>